<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326162704811-8nhudv2m4e48nkn2r88uddk2h2uramd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326162704811-8nhudv2m4e48nkn2r88uddk2h2uramd2</string>
	<key>API_KEY</key>
	<string>AIzaSyBwKOkNry0a1i6rxAol7DhSLP8-qd3HYyk</string>
	<key>GCM_SENDER_ID</key>
	<string>326162704811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readie</string>
	<key>PROJECT_ID</key>
	<string>readie-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>readie-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326162704811:ios:169985d437f33666f38aee</string>
</dict>
</plist>